<!DOCTYPE html>
<html lang="en">
<head th:replace="~{head :: head('index','Home')}"></head>
<body class="d-flex flex-column">
    <header th:replace="~{header :: login}" ></header>
    <main class="jumbotron text-center bg-light">
        <h1>Faça aqui seu aluguel agora!</h1>
        <p class="lead">
            Para fazer seu primeiro aluguel <a th:href="@{/client/cadastro}">faça seu cadastro aqui</a>. 
            <br>
            Caso ja tenha conta, <a th:href="@{/client/login}">faça seu login aqui</a>.
        </p>
        <br>
        <a th:href="@{/client/cadastro}" class="btn btn-primary my-2">Cadastro</a>
        <a th:href="@{/client/login}" class="btn btn-primary btn-login my-2">Login</a>
    </main>
    <hr>
    <th:block th:replace="~{footer :: footer}"></th:block>
</body>
</html>