<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{head :: head('index','Login')}"></head>
<body class="d-flex flex-column">
    <header th:replace="~{header :: login}" ></header>
    <main class="d-flex flex-column align-items-center text-center bg-light">
        <form th:object="${loginUserRequest}" action="/client/login" method="post">
            <label th: for="email">Email:</label>
            <input th:field="*{email}" type="email" placeholder="email@exemplo.com">
            <input th:field="*{password}" type="password" placeholder="digite sua senha">
            <input type="submit" value="Login">
        </form>
        <a class="btn btn-primary my-2" th:href="@{/client/cadastro}">Não tem conta? Crie sua conta aqui!</a>
    </main>
    <th:block th:replace="~{footer :: footer}"></th:block>
</body>
</html>